<div style="float:left" class="section">
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>
<div class="field">
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</div>
<div class="field">
  <%= f.label :taken_at %><br>
  <%= f.date_field :taken_at %>
</div>
</div>